<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CRA_HGUCat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_pets_black_36dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CommunityBulletinActivity" />
        <activity android:name=".CommunityRead" />
        <activity android:name=".PopupActivity" />
        <activity android:name=".GetFile" />
        <activity android:name=".CommunityAdd" />
        <activity
            android:name=".CaptureCat"
            android:screenOrientation="portrait" />
        <activity android:name=".CommunityMain" />
        <activity android:name=".PasswordFinderActivity" />
        <activity android:name=".PersonalAccount" />
        <activity android:name=".CatInformation" />
        <activity android:name=".CatList" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/RegisterTheme" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>