<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CRA_HGUCat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_pets_black_36dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PopupActivity"></activity>
        <activity android:name=".server_client"/>
        <activity android:name=".CaptureCat" />
        <activity android:name=".Community_main" />
        <activity android:name=".community_add" />
        <activity android:name=".personal_account" />
        <activity android:name=".nabi_information" />
        <activity android:name=".catlist" />
        <activity android:name=".home" />
        <activity android:name=".ResisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
<uses-permission android:name="android.permission.INTERNET" />
</manifest>